{%- assign section_id = 'shopify-section-' | append: section.id -%}

{% comment %}
  Set title
{% endcomment %}
{% if title != blank %}
  {%- assign section_title = title | escape -%}
{% else %}
  {%- assign section_title = section.settings.title | escape -%}
{% endif %}

{% if section_type == 'collection' %}
  {%- assign section_title = section_title | link_to: collection.url -%}
{% endif %}

{% comment %}
  Set column width
{% endcomment %}
{% unless class contains 'column-'%}
  {%- assign class = class | append: ' column-max' -%}
{% endunless %}

{% comment %}
  Begin the section
{% endcomment %}
<div class="{{ class }}" data-section-id="{{ section.id }}" data-section-type="{{ section_type }}">

{% comment %}
  Show title
{% endcomment %}
{% if section_title != blank %}
  <h2 class="section-title mb-150 lhxt">{{ section_title }}</h2>
{% endif %}

{%- assign class = nil -%}
