{% include 'settings' %}

{%- assign products_per_page = section.settings.products_per_row | times: section.settings.product_rows -%}

{% comment %}
  Section
  {%- render 'separator' section_type: 'collection-template', show_title: false %}
{% endcomment %}
{% render 'section-open', section: section, type: 'collection-template' %}

{% comment %} Page header {% endcomment %}
{% include 'page-header' content: 'page-header-content-collection' class: 'row' col1_class: 'large-6 columns' col2_class: 'large-6 columns text-right-large', title: collection.title %}

{% comment %} Separator {% endcomment %}
{% render 'separator', class: 'no-margin-top margin-bottom' %}

{% comment %} Collection image {% endcomment %}
{% if collection.image and section.settings.show_collection_image %}
  <style>
    .collection-image {
      height: {{ section.settings.collection_image_height | append: 'px' }};
      background-position: {{ section.settings.collection_image_position }};
    }
    @media screen and (max-width: 640px) {
      .collection-image {
        height: 300px;
      }
    }
  </style>

  {% include 'image' with collection.image, image_type: 'collection'%}
  {% render 'separator' %}
{% endif %}

{% comment %} Collection description {% endcomment %}
{% if collection.description != blank %}
  <div class="collection-description">
    {{ collection.description }}
  </div>
  {% render 'separator' %}
{% endif %}

{% comment %} Products {% endcomment %}
{% if collection.products.size > 0 %}
  {% paginate collection.products by products_per_page %}

  {% comment %} Products {% endcomment %}
  {% include 'products' with collection.products, class: 'row-spacing-150', show_add_to_cart_button: section.settings.show_add_to_cart_button, show_compare_at_price: section.settings.show_compare_at_price, show_from: section.settings.show_from, show_price: section.settings.show_price, show_sale_sticker: section.settings.show_sale_sticker, show_vendor: section.settings.show_vendor %}

  {% comment %} Pagination {% endcomment %}
  {% include 'pagination' %}

  {% endpaginate %}
{% else %}
  <p class="collection-empty">{{ 'collections.empty_html' | t }}</p>
{% endif %}

{% render 'section-close' %}


{% comment %} Schema {% endcomment %}
{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "product_rows",
      "label": "Rows per page",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_tag_filtering",
      "label": "Enable tag filtering",
      "default": true
    },
    {
      "type": "header",
      "content": "Collection image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "select",
      "id": "collection_image_width",
      "label": "Width",
      "options": [
        {"value": "column-max", "label": "Content"},
        {"value": "full-width", "label": "Screen"}
      ]
    },
    {
      "type": "range",
      "id": "collection_image_height",
      "label": "Height",
      "min": 200,
      "max": 1200,
      "step": 50,
      "unit": "px",
      "default": 450
    },
    {
      "type": "select",
      "id": "collection_image_position",
      "label": "Image focus",
      "options": [
        {"value": "top", "label": "Top"},
        {"value": "center", "label": "Center"},
        {"value": "bottom", "label": "Bottom"}
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_from",
      "label": "Show from",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_add_to_cart_button",
      "label": "Show 'Add to Cart' button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sale_sticker",
      "label": "Show sale sticker",
      "info": "Shown when product has 'compare at' price that's higher than 'price'",
      "default": true
    },
    {
      "type": "color",
      "id": "bg_details_color",
      "label": "Details background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
