{% include 'settings' %}

{%- assign products_per_page = section.settings.products_per_row | times: section.settings.product_rows -%}

{% comment %}
  Section
{% endcomment %}
{% include 'section-open' section_type: 'collection-template', show_title: false %}

{% comment %}
  Page header
{% endcomment %}
{% include 'page-header' content: 'page-header-content-collection' class: 'row' col1_class: 'large-6 columns' col2_class: 'large-6 columns text-right-large', title: collection.title %}

{% comment %}
  Separator
{% endcomment %}
{% include 'separator' class:'no-margin-top margin-bottom' %}

{% comment %}
  Collection image
{% endcomment %}
{% if collection.image and section.settings.show_collection_image %}
  {% include 'image' with collection.image, image_type: 'collection'%}
  {% include 'separator' %}
{% endif %}

{% comment %}
  Collection description
{% endcomment %}
{% if collection.description != blank %}
  <div class="collection-description">
    {{ collection.description }}
  </div>
  {% include 'separator' %}
{% endif %}

{% comment %}
  Products
{% endcomment %}
{% if collection.products.size > 0 %}
  {% paginate collection.products by products_per_page %}

  {% comment %}
    Products
  {% endcomment %}
  {% include 'products' with collection.products, class: 'row-spacing-150', show_add_to_cart_button: section.settings.show_add_to_cart_button, show_compare_at_price: section.settings.show_compare_at_price, show_from: section.settings.show_from, show_price: section.settings.show_price, show_sale_sticker: section.settings.show_sale_sticker, show_vendor: section.settings.show_vendor %}

  {% comment %}
    Pagination
  {% endcomment %}
  {% include 'pagination' %}

  {% endpaginate %}
{% else %}
  <p class="collection-empty">{{ 'collections.empty_html' | t }}</p>
{% endif %}

{% include 'section-close'  %}


{% comment %}
  Schema
{% endcomment %}
{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "product_rows",
      "label": "Rows per page",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_tag_filtering",
      "label": "Enable tag filtering"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price"
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price"
    },
    {
      "type": "checkbox",
      "id": "show_from",
      "label": "Show from"
    },
    {
      "type": "checkbox",
      "id": "show_add_to_cart_button",
      "label": "Show 'Add to Cart' button"
    },
    {
      "type": "checkbox",
      "id": "show_sale_sticker",
      "label": "Show sale sticker",
      "info": "Shown when product has 'compare at' price that's higher than 'price'"
    },
    {
      "type": "color",
      "id": "bg_details_color",
      "label": "Details background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
