{% include 'settings' %}
{% include 'content-open' class:'column-narrow padding-top-300 padding-bottom-300' %}

<div class="text-center">
  {% include 'page-header' %}
  {% include 'separator' class:'lined margin-top margin-bottom' %}
  <div class="no-spacing-bottom-last">
    {{ 'general.404.message_html' | t }}
  </div>
</div>

{% include 'content-close' %}
